*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box
    line-height: 1.2

.container
    max-width: 1320px
    margin: 0 auto

.title
    color: #000
    text-transform: uppercase
    &.big
        font-size: 155px
        font-weight: 900


.button
    display: inline-flex
    color: #fff
    font-size: 16px
    font-weight: 400
    border-radius: 24px
    &.black
        background-color: #141414
        padding: 12px 34px 12px 34px
        margin: 40px 0 24px 0
    &.transparent
        display: flex
        gap: 12px
        color: #141414
        text-decoration: none
        .button__icon
            border: 1px solid #141414
            border-radius: 100%
            padding: 8px 9px
        .button__text
            text-align: center
            font-size: 16px
            font-weight: 400
            border-bottom: 1px solid black
            padding-bottom: 5px

@import 'base/_variables'
@import 'blocks/_header'
@import 'blocks/_promo'