@import 'base/_variables'
@import 'blocks/_header'
@import 'blocks/_promo'
@import 'blocks/_about'
@import 'blocks/_matters'
@import 'blocks/_room'
@import 'blocks/_products'
@import 'blocks/_workplace'
@import 'blocks/_hah'
@import 'blocks/_article'
@import 'blocks/_footer'
body
    font-family: 'Roboto', sans-serif
    line-height: 1.2

*
    box-sizing: border-box
    
.container
    max-width: 1320px
    margin: 0 auto
    height: 100% 
.container-inner
    padding: 0 5%
.columns-wrapper
    display: flex
    gap: 5%
    flex-wrap: nowrap
    &.gap-2
        gap: 2%
    &.wrap
        display: flex
        flex-wrap: wrap
        justify-content: center
    .column
        position: relative
        width: 50%
        &.white
            color: white
    .column-20
        flex-basis: calc(20% - 20px)
    .column-30
        width: 30%
    .column-40
        width: 40%
    .column-60
        width: 60%
    .column-70
        width: 70%
    .column-80
        width: 760px
    

.title
    font-size: 83px
    font-weight: 900
    color: #000
    text-transform: uppercase
    &.big
        font-size: 155px
    &.small
        font-size: 48px
        font-weight: 400
        text-transform: none
    &.white
        color: #fff
        font-size: 64px
        text-transform: none
        font-weight: 700
    &.title-card
        font-size: 31px
        font-weight: 400
        text-transform: none
        &.font-bold
            font-weight: 700
        &.white
            color: #fff
    &.title-footer-menu
        color: #FFF
        font-size: 12px
        font-weight: 400
        letter-spacing: 1px
        text-transform: uppercase
        margin-bottom: 11px
.text
    color: #000
    &.large
        font-size: 32px
    &.middle
        font-size: 20px
        &.black
            color: $second-color
        &.white
            color: #fff
    &.small
        font-size: 16px
        width: 260px
        margin-left: 8px
        &.white
            color: #fff
    &.author-text
        font-size: 12px
        font-weight: 700
        letter-spacing: 1px
        text-transform: uppercase
        margin-left: 8px
        span
            font-weight: 400
.button
    display: inline-flex
    color: #fff
    font-size: 16px
    font-weight: 400
    border-radius: 24px
    &.black
        background-color: $second-color
        padding: 12px 34px 12px 34px
        margin: 40px 0 24px 0
        transition: background 0.2s
    &.black:hover
        background-color: #444343
    &.blue
        background-color: $main-color
        padding: 12px 34px 12px 34px
        margin-top: 20px
        transition: background 0.2s
    &.blue:hover
        background-color: #00A607
    &.transparent
        display: flex
        gap: 12px
        color: $second-color
        text-decoration: none
        .button__icon
            border: 1px solid $second-color
            border-radius: 100%
            padding: 8px 9px
        .button__text
            text-align: center
            font-size: 16px
            font-weight: 400
            border-bottom: 1px solid black
            padding-bottom: 5px
    .invisible
        gap: 160px
    &.bordered
        border: 1px solid $second-color
        padding: 13px 41px 13px 41px
        color: $second-color
        justify-content: center
        transition: background 0.2s
        &.white
            border: 1px solid white
            color: #fff
    &.bordered:hover
        background-color: #0077cc
        color: #fff
        border: none
        padding: 13px 42px 13px 42px
.card
    padding: 24px 31px 32px 25px
    border: 3px solid #000
    min-height: 386px
    &.blue
        background: #A4C3D8
    &.yellow
        background: #D9A603
    &.pink
        background: #FFB480
    &.green
        background: #B3B97D

.link
    display: inline-block
    position: relative
    text-decoration: none
    color: white
    color: #FFF
    font-size: 16px
    height: fit-content
    &.black
        color: black
        align-items: center
    &.black::after
        content: '' /* Добавляем контент для псевдоэлемента */
        position: absolute
        bottom: -5px
        left: 0
        width: 0
        height: 2px /* Высота подчеркивания */
        background-color: #0077cc /* Цвет подчеркивания */
        transition: width 0.3s /* Плавный переход для ширины подчеркивания */
    &.black:hover::after
        width: 100%
    &.white
        color: white
    &.white::after
        content: '' /* Добавляем контент для псевдоэлемента */
        position: absolute
        bottom: -4px
        left: 0
        width: 0
        height: 1px /* Высота подчеркивания */
        background-color:#000 /* Цвет подчеркивания */
        transition: width 0.3s /* Плавный переход для ширины подчеркивания */
    &.white:hover::after
        width: 100%
.item
    color: white
    margin-bottom: 8px
    display: block
    align-items: center