.about
    padding: 129px 0 200px
    background-color: #F5F5F5
    .about__image
        object-fit: cover
        width: 100%
        height: auto
    .column
        padding-top: 90px
        .text
            margin-top: 30px
    .owllabs-image
        position: absolute
        object-fit: cover
        width: 90%
        top: -258px
        left: 100px