.footer
    background: #4B50FA
    .text-field_floating 
        position: relative 
        .text-field__input 
            height: calc(3.5rem + 2px) 
            line-height: 1.25 
            padding: 20px 0 5px 7px
            &::-moz-placeholder 
                color: transparent 
            &::placeholder 
                color: transparent 
        .text-field__label 
            position: absolute 
            top: 0 
            left: 0 
            height: 100% 
            padding: 20px 0 5px 7px
            pointer-events: none 
            border: 1px solid transparent 
            transform-origin: 0 0 
            transition: opacity .15s ease-in-out, transform .15s ease-in-out 
    .text-field_floating .text-field__input:focus,
    .text-field_floating .text-field__input:not(:placeholder-shown) 
        padding-top: 1.625rem 
        padding-bottom: .625rem 
    .text-field_floating .text-field__input:focus~.text-field__label,
    .text-field_floating .text-field__input:not(:placeholder-shown)~.text-field__label 
        opacity: .65 
        transform: scale(.85) translateY(-.75rem) translateX(.15rem) 
