.promo
    background: radial-gradient(326.34% 128.88% at 100% 100%, #F5F5F5 0%, #4B50FA 52.08%, #F5F5F5 100%)
    height: 100vh
    &__inner
        display: flex
        justify-content: space-between
        position: relative
        align-items: center
        .title
            color: #000
            text-transform: uppercase
            &.big
                font-size: 155px
                font-weight: 900
        .promo__title
            width: 650px
            z-index: 2
        .promo__image
            position: absolute
            top: 70px
            left: 490px
            z-index: 1
        .promo-content
            width: 424px
            &__text
                color: #000
                font-size: 32px
                font-weight: 400
                line-height: 40px
                margin-bottom: 40px
            .button
                display: inline
                color: #fff
                font-size: 16px
                font-weight: 400
                border-radius: 24px
                &.black
                    background: #141414
                    padding: 12px 34px 12px 34px
                &.transparent
                    display: flex
                    gap: 12px
                    margin-top: 25px
                    .button__icon
                        border: 1px solid #141414
                        border-radius: 100%
                        padding: 8px 9px
                    .button__text
                        color: #141414
                        text-align: center
                        font-size: 16px
                        font-weight: 400