.promo
    background: radial-gradient(326.34% 128.88% at 100% 100%, #F5F5F5 0%, #4B50FA 52.08%, #F5F5F5 100%)
    height: 100vh
    padding: 90px 0
    &__inner
        display: flex
        justify-content: space-between
        position: relative
        align-items: flex-end
        .promo__title
            margin: 0
            width: 50%
            z-index: 2
        .promo__image
            position: absolute
            top: -60px
            left: 490px
            height: 120%
            z-index: 1
            width: auto
        .promo-content
            width: 35%